html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
#textarea {
	outline: none;
}
.header {
	border: none;
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	text-transform: lowercase;
	width: 100%;
	text-overflow: ellipsis;
	padding-top: 15px;
	padding-bottom: 15px;
	outline-color: #AFEEEE;
}
.container {
	max-width: 60em;
	margin: 0 auto;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}